<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.title }}">
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" type="image/svg+xml" href="{{ site.icons.svg }}">
    <link rel="alternate icon" href="{{ site.icons.ico }}">
    <link rel="apple-touch-icon" href="{{ site.icons.apple }}">
    <link rel="mask-icon" href="{{ site.icons.maskIcon }}" color="{{ site.manifest.colours.theme }}">

    <link rel="manifest" href="/manifest.json">
    
    <meta name="application-name" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="theme-color" content="{{ site.manifest.colours.theme }}">
    
    <link rel="canonical" href="https://www.samiresandsimon.co.uk/">
    
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://use.typekit.net/ujn0mau.css">

        <meta name="robots" content="noindex, nofollow" />

    <script type="module" src="/app.js"></script>
    </head>

<body>
    <div class="container">
        {% assign lang = "unknown" %}
        {% if invite.Language %}
            {% assign lang = invite.Language %}
        {% endif %}
        {% assign isEn = lang == 'en' or lang =='unknown' %}
        {% assign isPt = lang == 'pt' %}
        {% if invite.Language %}
            {% assign lang = invite.Language %}
        {% endif %}
        {% comment %}{% render "components/organisms/translate"%}{% endcomment %}
        {% block content %}{% endblock %}
    </div>
    {% include "components/molecules/curved-foliage" %}
</body>
</html>
