{% layout 'components/templates/default' %}
{% block content %}
  <form class="form js-rsvp-form" action="/{{ invite['Invite Code'] }}/thank-you/" data-module="rsvp">
    
    <input type="hidden" name="invite" value="{{ invite.id }}" />
    <input type="hidden" name="guests" value="{{ invite['Invitees'] | join: ',' }}" />
  
    <div class="form__title">
      <h1 class="heading-2">
        {{ languages[page.lang].components.templates.rsvp.title }}
      </h1>
    </div>
    <div class="form__subtitle">
      <h2 class="heading-4">
        {{ languages[page.lang].components.templates.rsvp.hopeyoucancome }}
      </h2>
    </div>
      <div class="form__section">
        {% for person in invite.people %}
          {% capture field_name %}{{person.id}}-attend{% endcapture %}
          {% capture field_yes %}{{person.id}}-yes{% endcapture %}
          {% capture field_no %}{{person.id}}-no{% endcapture %}
          {% capture field_confirmed_yes %}{% if person['Attending'] == "yes" %}true{% endif %}{% endcapture %}
          {% capture field_confirmed_no %}{% if person['Attending'] == "no" %}true{% endif %}{% endcapture %}

          {% if person['Plus1'] == true %}
          <fieldset class="form__fieldset js-guest-select is-hidden">
              <div class="form__fieldset-title">
                <h3 class="heading-3">
                  {{ languages[page.lang].components.templates.rsvp.yourguest }}
                </h3>
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_yes, 
                  text: languages[page.lang].components.templates.rsvp.bringingaguest,
                  checked: field_confirmed_yes
                %}
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_no, 
                  text: languages[page.lang].components.templates.rsvp.notbringingaguest,
                  checked: field_confirmed_no 
                %}
              </div>
            </fieldset>
            {% else %}
            <fieldset class="form__fieldset js-rsvp-select">
              <div class="form__fieldset-title">
                <h3 class="heading-3">
                  {{ person['Name'] }}{% if page.lang == 'en' %}'s{% endif %}{% if page.lang == 'pt' %},{% endif %} {{ languages[page.lang].components.templates.rsvp.confirmattendance }}
                </h3>
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_yes, 
                  label: languages[page.lang].components.templates.rsvp.gladlyaccept,
                  checked: field_confirmed_yes
                %}
              </div>
              <div class="form__field">
                {% render "components/atoms/checkbox", 
                  name: field_name, 
                  id: field_no,
                  label: languages[page.lang].components.templates.rsvp.regretfullydecline,
                  checked: field_confirmed_no 
                %}
              </div>
            </fieldset>
            {% endif %}

            {% comment %} Text input for guest name only if guest is a +1 {% endcomment %}
            {% if person['Plus1'] == true %}
              <fieldset class="form__fieldset js-guest-name is-hidden">
                {% capture field_guest_name %}{{person.id}}-name{% endcapture %}
                {% capture field_guest_id %}guest-{{person.id}}{% endcapture %}
                <div class="form__fieldset-title">
                  <label class="heading-3" for="{{ field_guest_id }}">
                    {{ languages[page.lang].components.templates.rsvp.guestsname }}
                  </label>
                </div>
            </fieldset>
            {% endif %}
        {% endfor %}
      </div>

      {% render "components/atoms/button",
              text: languages[page.lang].components.templates.rsvp.continue,
              type: "button",
              disabled: true,
              class: 'js-continue'
      %}

      <p class="form__validation js-validation-1 is-hidden">
        {{ languages[page.lang].components.templates.rsvp.rsvptocontinue }}
      </p>
      <p class="form__validation js-validation-2 is-hidden">
        {{ languages[page.lang].components.templates.rsvp.guestnametocontinue }}
      </p>

      <div class="is-hidden js-meal-choices">

        <div class="js-meal-choice-header">

          {% render "components/atoms/section-break" %}
          <div class="form__subtitle">
            <h2 class="heading-2">
              {{ languages[page.lang].components.templates.rsvp.dietaryrequirements }}
            </h2>
          </div>

        </div>

        <div class="form__section">

          {% for person in invite.people %}

            <div class="js-meal-{{ person.id }}-attend">
              <div class="form__fieldset-title">
              <h3 class="heading-3">{{ languages[page.lang].components.templates.rsvp.lcdietaryrequirementspt }} {{ person['Name'] }}{% if page.lang == 'en' %}'s {% endif %}{{ languages[page.lang].components.templates.rsvp.lcdietaryrequirementsen }}</h3>
                </div>
              <fieldset class="form__fieldset{% if person['Plus1'] == true %} js-guest-meal-select{% endif %}">
                {% capture field_name %}{{person.id}}-dietary{% endcapture %}
                {% render 
                  "components/atoms/textarea", 
                  name: field_name, 
                  text: languages[page.lang].components.templates.rsvp.letknowdietaryrequirements,
                  value: person['Dietary Requirements']
                %}
              </fieldset>
            </div>
          
          {% endfor %}
        
        </div>
  
        {% render "components/atoms/button",
                text: languages[page.lang].components.templates.rsvp.continue,
                disabled: true,
                class: 'js-confirm'
        %}

        <div class="form__validation js-rsvp-error is-hidden">
          <h3 class="heading-4">{{ languages[page.lang].components.templates.rsvp.uhoh }}</h3>
          <p>{{ languages[page.lang].components.templates.rsvp.pleasetryagain }}</p>
        </div>

      </div>
  </form>

{% endblock %}
