{% layout 'components/templates/default' %}

{% block content %}
    {% capture rsvpAddress %}{{ '/' | append: invite['Invite Code'] | parseUrl: page.lang }}{% endcapture %}
    <div class="page">
        <div class="page__header">
            {% include "components/molecules/hero-heading" %}
        </div>

        <div class="text-content text-content--centered">
            <h3 class="heading-2">
                {{ languages[page.lang].components.templates.rsvpcomplete.thankyou }}
                {%- for person in invite.people %}
                    {%- if forloop.last == false and forloop.rindex > 2 %}, {% endif -%}
                {%- endfor -%}
                {% for person in invite.people %}
                            {% if forloop.last and forloop.length > 1 %} &amp; {% endif %}
                        {{- person['Name'] -}}
                    {% if forloop.last == false and forloop.rindex > 2 %}, {% endif %}
                    {%- if forloop.last %} {% endif -%}
                {%- endfor -%}
                {{ languages[page.lang].components.templates.rsvpcomplete.forsubmitting }}
            </h3>
            <p>{{ languages[page.lang].components.templates.rsvpcomplete.bookmark1 }} <a href="{{ rsvpAddress }}">samiresandsimon.co.uk{{ rsvpAddress }}</a>
                {{ languages[page.lang].components.templates.rsvpcomplete.bookmark2 }}</p>
        </div>

        <div class="text-content__cta">
            
            {% render "components/atoms/call-to-action-primary",
                url: rsvpAddress,
                text: languages[page.lang].components.templates.rsvpcomplete.return,
            %}
        </div>
    </div>
{% endblock %}
