{% layout 'components/templates/default' %}
{% block content %}
  <form class="form js-message-form" action="/" data-module="message">
    <input type="hidden" name="form-name" value="contact" />
    <div class="form__title">
      <h1 class="heading-2">
          {{ languages[page.lang].components.pages.contact.contact}}</h1>
    </div>
    <div class="form__subtitle">
      <h2 class="heading-4">
          {{ languages[page.lang].components.pages.contact.instructions }}
      </h2>
    </div>
      <div class="form__section">
          <fieldset class="form__fieldset">
            <div class="form__field">
                <label class="form__label" for="name">
                  {{ languages[page.lang].components.pages.contact.yourname }}
                </label>
                {% render "components/atoms/text-input", 
                    name: "name",
                %}
            </div>
            <div class="form__field">
                <label class="form__label" for="email">
                    {{ languages[page.lang].components.pages.contact.youremail }}
                </label>
                {% render "components/atoms/text-input", 
                    name: "email",
                %}
            </div>
            <div class="form__field">
                <label class="form__label" for="message">
                    {{ languages[page.lang].components.pages.contact.yourmessage }}
                </label>
                {% render "components/atoms/textarea", 
                    name: "message",
                %}
            </div>
          </fieldset>
      </div>

      {% render "components/atoms/button",
              text: languages[page.lang].components.pages.contact.sendmessage,
                class: "js-message-submit" %}

      <div class="form__validation js-message-error is-hidden">
        <h3 class="heading-4">
          {{ languages[page.lang].components.pages.contact.uhoh }}
        </h3>
      </div>

  </form>

{% endblock %}
