{% layout 'components/templates/default' %}

{% block content %}

    <div class="page">

        <div class="page__header">
            <h2 class="heading-2">
                {{ languages[page.lang].components.pages.gifting.gifting }}
            </h2>
        </div>

        <div class="text-content text-content--centered">
            <p>
                {{ languages[page.lang].components.pages.gifting.message }}
            </p>
            <div class="text-content__cta">
                {% capture pottext%}{{ languages[page.lang].components.pages.gifting.contributewithpot | append: '<small>' |append: languages[page.lang].components.pages.gifting.potsubtext | append: '</small>' }}{% endcapture %}
                {% render "components/atoms/call-to-action",
                        url: 'https://app.collectionpot.com/pot/samiresandsimon/',
                        text: pottext,
                        target: "_blank",
                        dataOriginal: ''
                %}
            </div>
            <div class="text-content__cta">
                {% capture pottext%}{{ languages[page.lang].components.pages.gifting.contributewithmonzo | append: '<small>' |append: languages[page.lang].components.pages.gifting.monzosubtext | append: '</small>' }}{% endcapture %}
                {% render "components/atoms/call-to-action",
                        url: 'https://monzo.me/simonmcwhinnie',
                        text: pottext,
                        target: "_blank",
                        dataOriginal: ''
                %}
            </div>
            <div class="text-content__cta">
                {% capture pottext%}{{ languages[page.lang].components.pages.gifting.contributewithpaypal | append: '<small>' |append: languages[page.lang].components.pages.gifting.paypalsubtext | append: '</small>' }}{% endcapture %}
                {% render "components/atoms/call-to-action",
                        url: 'https://paypal.me/samiresandsimon',
                        text: pottext,
                        target: "_blank",
                        dataOriginal: ''
                %}
            </div>
        </div>

        <div class="page__header">
            <h2 id="faq" class="heading-2">
                {{ languages[page.lang].components.pages.gifting.faq.title }}
            </h2>
        </div>

        {% for qa in languages[page.lang].components.pages.gifting.faq.qas %}
            <details class="expand text-s">
                <summary class="expand__summary">
                    {{ qa.question }}
                </summary>
                <div class="expand__contents">
                    <p>{{ qa.answer }}</p>
                </div>
            </details>
        {% endfor %}

        {% render "components/molecules/homelink",
            page:page,
            languages:languages
        %}
    </div>

{% endblock %}
