{% layout 'components/templates/default' %}
{% block content %}
  <form class="form js-login-form" data-module="login">
    <div class="form__title">
      <h1 class="heading-2">
        {{ languages[page.lang].components.pages.login.title }}
      </h1>
    </div>
    <div class="form__subtitle">
      <h2 class="heading-4">
        {{ languages[page.lang].components.pages.login.entercode }}
        </h2>
    </div>
      <div class="form__section">
          <fieldset class="form__fieldset">
            {% render "components/atoms/text-input", 
              name: "invite_code", 
              placeholder: languages[page.lang].components.pages.login.codeplaceholder,
              class: "js-login-code"
            %}
          </fieldset>
      </div>

      {% render "components/atoms/button",
              text: languages[page.lang].components.pages.login.submit,
              class: "js-login-button",
              disabled: true
      %}

      <div class="form__validation js-login-forgotten">
        <p>
          {{ languages[page.lang].components.pages.login.help }}
        </p>
      </div>

      <div class="form__validation js-login-not-found is-hidden">
        <h3 class="heading-4">
          {{ languages[page.lang].components.pages.login.couldnotfindheader }}
        </h3>
        <p>{{ languages[page.lang].components.pages.login.couldnotfindtext }}</p>
      </div>

      <div class="form__validation js-login-error is-hidden">
        <h3 class="heading-4">
          {{ languages[page.lang].components.pages.login.wentwrongheader }}
        </h3>
        <p>{{ languages[page.lang].components.pages.login.wentwrongtext }}</p>
      </div>

  </form>

{% endblock %}
