{% capture rsvp_url %}{{ "/" | append: invite['Invite Code'] | append: "/rsvp" | parseUrl: page.lang }}{% endcapture %}
{% capture transport_url %}{{ "/" | append: invite['Invite Code'] | append: "/transport" | parseUrl: page.lang }}{% endcapture %}
<details class="expand text-s">
    <summary class="expand__summary">
        {{ languages[page.lang].components.organisms.faq.rsvp.question }}
    </summary>
    <div class="expand__contents">
        <p>
            {% capture message %}<a href="{{ rsvp_url }}">{{ languages[page.lang].components.organisms.faq.rsvp.answer }}{{ invite.formatted_deadline_with_year }} {% endcapture %}
            {{ message }}
        </p>
    </div>
</details>
<details class="expand text-s">
    <summary class="expand__summary">
        {{ languages[page.lang].components.organisms.faq.arrive.question }}
    </summary>
    <div class="expand__contents">
        <p>
            {% if invite['Invite Type'] == 'Day' %}
                {{ languages[page.lang].components.organisms.faq.arrive.answer.Day }}
            {% else %}
                {{ languages[page.lang].components.organisms.faq.arrive.answer.Evening }}
            {% endif %}
        </p>
    </div>
</details>
<details class="expand text-s">
    <summary class="expand__summary">
        {{ languages[page.lang].components.organisms.faq.transport.question }}
    </summary>
    <div class="expand__contents">
        <p>
            {{ languages[page.lang].components.organisms.faq.transport.answer1 }}{{ transport_url }}{{ languages[page.lang].components.organisms.faq.transport.answer2 }}
        </p>
    </div>
</details>
    {% for qa in languages[page.lang].components.organisms.faq.qas %}
    <details class="expand text-s">
        <summary class="expand__summary">
            {{ qa.question }}
        </summary>
        <div class="expand__contents">
            <p>{{ qa.answer }}</p>
        </div>
    </details>
    {% endfor %}
