{% if inviteType == "Day" %}
    <div class="overview__section-subtitle">
        <h3 class="heading-3">
            {{ languages[page.lang].components.organisms.orderoftheday.ceremony}}
        </h3>
    </div>
    <div class="overview__section-image">
        {% render "components/atoms/image-bordered",
                url: "./src/assets/images/oldchelseatownhall.png",
                alt: "Chelsea Old Town Hall",
                sizes: sizes,
                widths: widths
        %}
    </div>
    <ol class="order-of-day">
        <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 14:30">
                {{ languages[page.lang].components.organisms.orderoftheday.times.1430}}
            </time> - {{ languages[page.lang].components.organisms.orderoftheday.ceremonyarrival}}
        </li>
        <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 14:45">
                {{ languages[page.lang].components.organisms.orderoftheday.times.1445}}
            </time> -
            {{ languages[page.lang].components.organisms.orderoftheday.ceremonyentry}}
        </li>
        <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 13:00">
                {{ languages[page.lang].components.organisms.orderoftheday.times.1500}}
            </time> -
            {{ languages[page.lang].components.organisms.orderoftheday.ceremony}}
        </li>
        <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 13:30">
                {{ languages[page.lang].components.organisms.orderoftheday.times.1530}}
            </time> -
            {{ languages[page.lang].components.organisms.orderoftheday.groupphotos}}
        </li>
        <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 15:30">
                {{ languages[page.lang].components.organisms.orderoftheday.times.1600}}
            </time> -
            {{ languages[page.lang].components.organisms.orderoftheday.movingon}}
            </li>
    </ol>
{% endif %}
<div class="overview__section-subtitle">
    <h3 class="heading-3">
        {{ languages[page.lang].components.organisms.orderoftheday.reception}}
    </h3>
</div>
<div class="overview__section-image">
    {% render "components/atoms/image-bordered",
            url: "./src/assets/images/thelittleyellowdoor.png",
            alt: "The Little Yellow Door",
            sizes: sizes,
            widths: widths
    %}
</div>
<ol class="order-of-day">
    <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 18:30">
            {{ languages[page.lang].components.organisms.orderoftheday.times.1700}}</time> -
            {{ languages[page.lang].components.organisms.orderoftheday.receptionstarts}}
    </li>
    <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 19:30">
            {{ languages[page.lang].components.organisms.orderoftheday.times.2000}}
        </time> - {{ languages[page.lang].components.organisms.orderoftheday.receptiondj }}</li>
    <li class="order-of-day__item "><time class="order-of-day__time" datetime="2024-06-03 23:30">
            {{ languages[page.lang].components.organisms.orderoftheday.times.2400}}
        </time> - {{ languages[page.lang].components.organisms.orderoftheday.receptionends}}</li>
</ol>
