<div class="text-content text-content--centered">
    <p class="icon-text icon-text--location ">
        {% if inviteType == "Day" %}
            {{ languages[page.lang].components.organisms.whereandwhen.ceremonyfollowedby }}
        {% endif %}
            {{ languages[page.lang].components.organisms.whereandwhen.reception }}
    </p>

    <p class="icon-text icon-text--date ">
        {{ languages[page.lang].components.organisms.whereandwhen.date }}
    </p>
    
    <p class="icon-text icon-text--time ">
        {% if inviteType == "Day" %}
            {{ languages[page.lang].components.organisms.whereandwhen.arrivalday }}

        {% endif %}
        {% if inviteType == "Evening" %}
            {{ languages[page.lang].components.organisms.whereandwhen.arrivalnight }}
        {% endif %}
    </p>

    <div class="text-content__cta">
        {% render "components/molecules/countdown",
            languages: languages,
            page: page
        %}
    </div>
    

    <div class="text-content__cta">
        {% render "components/atoms/call-to-action",
            url: "/calendar.ics",
            text: languages[page.lang].components.organisms.whereandwhen.addtocalendar
        %}
    </div>
</div>
